@model IEnumerable<Category>

@{

	ViewData["title"] = "index";
}

<table>
	<thead>
		<tr>

			<th>@Html.DisplayNameFor(x=>x.Name)</th>
			<th>@Html.DisplayNameFor(x=>x.Description)</th>
		</tr>

	</thead>
	<tbody>
		@foreach(var item in Model)
		{
			<tr>
				<td>@Html.DisplayFor(x => item.Name)</td>
				<td>@Html.DisplayFor(x => item.Description)</td>
			</tr>
		}

	</tbody>

</table>